.mainbox{
    border-color: darksalmon;
    padding: 25px;
    margin:auto;
    text-align: center;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornflowerblue;
    background-color:rgba(69, 94, 0, 0.829);
    height: fit-content;
    width: fit-content;
}

#h1{
    position: relative;
    text-align:center;
    font-family: monospace;
    font-size: 45px;
    color:rgb(255, 255, 255);
    background-color: rgba(161, 161, 161, 0.651);
}

#body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("http://hd.wallpaperswide.com/thumbs/good_food-t2.jpg");
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: rgba(252, 213, 200, 0.808);
    width: fit-content;
    border-left-color: bisque;
    border-right-color: bisque;
    border-bottom-color: bisque;
    border: 3px solid bisque;
    padding-right: 30px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: chocolate;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
li {
    border: 2px solid bisque;
}